<ng-container>
  <mat-toolbar class="header-toolbar">
      <a class="no-style" [routerLink]="['/home']">
        
      </a>
      <button mat-icon-button (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
      </button>
      <span class="spacer"></span>
      <div *ngIf="isConnected">
          <button mat-button [matMenuTriggerFor]="welcomeMenu">
              {{ "WELCOME" | translate:{name:name} }}
          </button>
          <mat-menu #welcomeMenu="matMenu">
              <button mat-menu-item (click)="disconnect()">{{ "DISCONNECT" | translate }}</button>
          </mat-menu>
      </div>
      <div *ngIf="!isConnected">
          <button mat-raised-button color="primary" (click)="login()">{{ "AUTHENTICATE" | translate }}</button>
          <button mat-raised-button color="primary" (click)="chooseSession()">{{ "CHOOSE_SESSION" | translate }}</button>
      </div>
      <button mat-button [matMenuTriggerFor]="languages">{{ "LANGUAGES" | translate }}</button>
      <mat-menu #languages="matMenu">
          <button mat-menu-item (click)="chooseLanguage('fr')">{{ "FRENCH" | translate }}</button>
          <button mat-menu-item (click)="chooseLanguage('en')">{{ "ENGLISH" | translate }}</button>
      </mat-menu>
  </mat-toolbar>
  <mat-drawer-container class="drawer-container">
        <mat-drawer #drawer mode="side" opened [fixedInViewport]="false" [fixedTopGap]="0" [fixedBottomGap]="0">
            <mat-nav-list *ngIf="isConnected">
                <a mat-list-item [routerLink]="['/clients/oauth']" [routerLinkActive]="['is-active']">
                    {{ "OAUTH_CLIENTS" | translate }}
                </a>
                <a mat-list-item [routerLink]="['/clients/openid']" [routerLinkActive]="['is-active']">
                    {{ "OPENID_CLIENTS" | translate }}
                </a>
            </mat-nav-list>
        </mat-drawer>
        <router-outlet></router-outlet>
  </mat-drawer-container>
</ng-container>