<h1 mat-dialog-title>{{ 'applications.add' | translate }}</h1>
<form [formGroup]="addApplicationFormGroup">
  <div mat-dialog-content>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>{{ 'applications.clientName' | translate }}</mat-label>
      <input matInput formControlName="clientName" />
      <mat-error *ngIf="addApplicationFormGroup.get('clientName')?.hasError('required')">
        {{ 'applications.clientNameRequired' | translate }}
      </mat-error>
    </mat-form-field>
    <mat-error *ngIf="addApplicationFormGroup.get('applicationKind')?.hasError('required')">
      {{ 'applications.applicationKindRequired' | translate }}
    </mat-error>
    <div fxLayout="row wrap" fxLayoutGap="20px" id="applicationKinds">
      <div *ngFor="let applicationKind of applicationKinds" fxFlex="45%" class="applicationKind" (click)="toggle(applicationKind)" [class.isSelected]="applicationKind.isSelected">
        <h2>{{ applicationKind.translations | translateenum }}</h2>
        {{ 'applicationKinds.' + applicationKind.key + '.description' | translate }}
        <p class="example">
          {{ 'applicationKinds.' + applicationKind.key + '.example' | translate }}
        </p>
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button color="primary" (click)="save()">{{ 'create' | translate }}</button>
    <button mat-button color="warn" mat-dialog-close>{{ 'close' | translate }}</button>
  </div>
</form>
