<div fxLayout="row" class="breadcrumb">
  <div fxFlex="80%">
    <ul>
      <li><div class="mat-h1">{{ "applications.list" | translate }}</div></li>
    </ul>
  </div>
  <div>
    <button mat-raised-button color="primary" (click)="addApplication()">
      <mat-icon>add</mat-icon>
      {{ 'applications.add' | translate }}
    </button>
  </div>
</div>
<loader *ngIf="isLoading"></loader>
<div class="mat-elevation-z8 overflow-hidden" [style.display]="!isLoading ? 'block' : 'none'">
  <mat-table class="full-width" [dataSource]="applications$" matSortActive="create_datetime" matSortDirection="desc" matSort>
    <ng-container matColumnDef="picture">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let client">
        <ngx-avatar class="center" size="40" *ngIf="client.LogoUris.length > 0" src="{{ client.LogoUris | translateenum }}"></ngx-avatar>
        <ngx-avatar class="center" size="40" *ngIf="client.LogoUris.length == 0" name="{{ client.ClientId }}"></ngx-avatar>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="client_id">
      <mat-header-cell *matHeaderCellDef>{{ "applications.clientId" | translate }}</mat-header-cell>
      <mat-cell *matCellDef="let client">
        <a [routerLink]="['/applications', client.ClientId]">{{client.ClientId}}</a>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="client_name">
      <mat-header-cell *matHeaderCellDef>{{ "applications.clientName" | translate }}</mat-header-cell>
      <mat-cell *matCellDef="let client">{{ client.ClientNames | translateenum }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="application_kind">
      <mat-header-cell mat-header-cell *matHeaderCellDef>{{ "applications.kind" | translate }}</mat-header-cell>
      <mat-cell *matCellDef="let client">{{ 'metadata.content.applicationKind.children.' +  client.ApplicationKind | translatemetadata }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="update_datetime">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{ "applications.updateDateTime" | translate }}</mat-header-cell>
      <mat-cell *matCellDef="let client">{{client.UpdateDateTime | date:'fullDate'}}</mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator [length]="length" [pageSize]="50" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
