@using IdserverNginx.Resources

@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-danger" role="alert">
    @LayoutResource.UnexpectedError
</div>