@using FormBuilder.Components.Form
@using FormBuilder.Models
@using System.Text.Json
@using System.Text.Json.Nodes
<h3>AuthenticateComponent</h3>

<FormViewer Form="@Record" Input="@Json"></FormViewer>

@code {
    [Parameter] public string Form { get; set; }
    [Parameter] public string Input { get; set; }
    JsonObject Json { get; set; }
    FormRecord Record { get; set; }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        Record = JsonSerializer.Deserialize<FormRecord>(Form);
        Json = JsonObject.Parse(Input).AsObject();
    }
}