@using SimpleIdServer.IdServer.Website.Infrastructures;
@rendermode InteractiveServer

<Fluxor.Blazor.Web.StoreInitializer />

<CascadingAuthenticationState>
    <RealmRouter AppAssembly="@typeof(IdServerRouter).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData">
                <NotAuthorized>
                    <RedirectLogin />
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(EmptyLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </RealmRouter>
</CascadingAuthenticationState>