<div fxLayout="row" class="breadcrumb">
  <div fxFlex="80%">
    <ul>
      <li><div class="mat-h1">{{ "workflow.list" | translate }}</div></li>
    </ul>
  </div>
</div>
<loader *ngIf="isLoading"></loader>
<div class="mat-elevation-z8 overflow-hidden" [style.display]="!isLoading ? 'block' : 'none'">
  <mat-table class="full-width" [dataSource]="workflows$" matSortActive="update_datetime" matSortDirection="desc" matSort>
    <!-- name -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ 'workflow.name' | translate}}
      </mat-header-cell>
      <mat-cell *matCellDef="let workflow">
        <a href="#" [routerLink]="['/workflows/' + workflow.id ]">
          {{ workflow.name }}
        </a>
      </mat-cell>
    </ng-container>
    <!-- nbInstances -->
    <ng-container matColumnDef="nbInstances">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'workflow.nbInstances' | translate }}</mat-header-cell>
      <mat-cell *matCellDef="let workflow">
        {{ workflow.nbInstances }}
      </mat-cell>
    </ng-container>
    <!-- createDateTime -->
    <ng-container matColumnDef="create_datetime">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'workflow.createDateTime' | translate }}</mat-header-cell>
      <mat-cell *matCellDef="let workflow">
        {{ workflow.createDateTime | date:'fullDate' }}
      </mat-cell>
    </ng-container>
    <!-- updateDateTime -->
    <ng-container matColumnDef="update_datetime">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'workflow.updateDateTime' | translate }}</mat-header-cell>
      <mat-cell *matCellDef="let workflow">
        {{ workflow.updateDateTime | date:'fullDate' }}
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator [length]="length" [pageSize]="50" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
