<div fxLayout="row" class="breadcrumb">
  <div fxFlex="80%">
    <ul>
      <li><div class="mat-h1">{{ "provisioning.configuration.list" | translate }}</div></li>
    </ul>
  </div>
</div>
<loader *ngIf="isLoading"></loader>
<div class="mat-elevation-z8 overflow-hidden" [style.display]="!isLoading ? 'block' : 'none'">
  <mat-table class="full-width" [dataSource]="provisioningConfigurations$" matSortActive="executionDateTime" matSortDirection="desc" matSort>
    <!-- type -->
    <ng-container matColumnDef="type">
      <mat-header-cell *matHeaderCellDef>{{ "provisioning.configuration.type" | translate }}</mat-header-cell>
      <mat-cell *matCellDef="let configuration">
        <a [routerLink]="['/provisioning/configurations', configuration.id]">{{ "provisioning.configuration.types." + configuration.type | translate }}</a>
      </mat-cell>
    </ng-container>
    <!-- resourceType -->
    <ng-container matColumnDef="resourceType">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{ "provisioning.configuration.resourceType" | translate }}</mat-header-cell>
      <mat-cell *matCellDef="let configuration">
        {{ configuration.resourceType }}
      </mat-cell>
    </ng-container>
    <!-- updateDateTime -->
    <ng-container matColumnDef="updateDateTime">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{ "provisioning.configuration.updateDateTime" | translate }}</mat-header-cell>
      <mat-cell *matCellDef="let configuration">
        {{configuration.updateDateTime | date:'short'}}
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator [length]="length" [pageSize]="50" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
