@using IdserverUi.Resources
@model SimpleIdServer.IdServer.UI.ViewModels.ErrorViewModel

@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-danger" role="alert">
    @Model.Message
</div>