:root {
    --prompt-width: 600px;
    --outer-padding: 80px;
    --bg-color: #F7F7F6;
    --from-bg-color: white;
    --from-shadow: 0 12px 40px rgba(0,0,0,0.12);
    --from-radius: 5px;
    --divider-bg: #eee;
    --divider-color: #6c757d;
}

.form {
    padding: var(--outer-padding);
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.form-content {
    width: var(--prompt-width);
    background-color: var(--from-bg-color);
    box-shadow: var(--from-shadow);
    border-radius: var(--from-radius);
}

.form-content.view {
    padding: 10px;
}

.divider {
    width: 100%;
    white-space: nowrap;
    align-self: stretch;
    align-items: center;
    display: flex;
    color: #cccccc;
}

.divider:before {
    content: "";
    border-inline-end-width: 0;
    border-style: solid;
    border-top-width: 1px;
    flex-grow: 1;
    width: 100%;
    height: 1px;
    border:1px solid #cccccc;
}

.divider:after {
    content: "";
    border-inline-end-width: 0;
    border-style: solid;
    border-top-width: 1px;
    flex-grow: 1;
    width: 100%;
    height: 1px;
    border:1px solid #cccccc;
}