/* Divider */
.divider {
    display: flex;
    align-items: center;
}

.divider::before, .divider::after {
    content: "";
    height: 1px;
    background: var(--divider-bg);
    flex: 1;
}

.divider .text {
    margin-right: 1rem;
    margin-left: 1rem;
    margin-top: 0px;
    margin-bottom: 0px;
    color: var(--divider-text);
}

/* Form editor */
.formEditor .title {
    background-color: #00000008;
    border: 1px solid rgba(0,0,0,.125);
    padding: 10px;
    margin-bottom: 0px;
}

.formEditor ul.elements {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.formEditor ul.elements > li {
    padding: 5px 5px 5px 8px;
    border-radius: .3em;
    border: 1px solid gray;
    background-color: #f3f3f3;
    margin-bottom: 2px;
}

/* Drop zone */
.draggableElement {
    position: relative;
    border: 1px solid transparent;
}

.draggableElement:hover {
    border-color: gray;
}

.draggableElement:hover > .toolbox {
    display: block;
    z-index: 2;
}

.draggableElement > .toolbox {
    position: absolute;
    top: 0px;
    right: 0px;
    display: none;
}

.toolbox > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.toolbox > ul > li {
    padding-left: 2px;
}

.dropZone {
    position: absolute;
    height: 10px;
    width: 100%;
}

.dropZone.top {
    top: 0px;
}

.dropZone.bottom {
    bottom: 0px;
}

.dropZone.active {
    border: 1px dashed green;
    background-color: #e2ffe2;
    text-align: center;
    height: 10px;
}

.fullWidth {
    width: 100%;
}