/* Divider */
.divider {
    display: flex;
    align-items: center;
}

.divider::before, .divider::after {
    content: "";
    height: 1px;
    background: var(--divider-bg);
    flex: 1;
}

.divider .text {
    margin-right: 1rem;
    margin-left: 1rem;
    margin-top: 0px;
    margin-bottom: 0px;
    color: var(--divider-text);
}

/* Form editor */
.formEditorWindow {
    border: 1px solid gray;
}

.formEditorWindow .category {
    border-top: 1px solid gray;
}

.formEditorWindow .title {
    margin: 0px !important;
    background-color: #e4e2e2;
    padding-bottom: 5px;
    text-align: center;
}

.formEditorWindow ul.elements {
    list-style-type: none;
    margin: 0;
    padding: 5px;
}

.formEditorWindow ul.elements > li {
    padding: 5px 5px 5px 8px;
    border-radius: .3em;
    border: 1px solid gray;
    background-color: #f3f3f3;
    margin-bottom: 2px;
    cursor: move;
}

/* Drop zone */
.editableLayoutContainer, .draggableElement {
    border: 1px solid transparent;
    position: relative;
}

.draggableElement:hover, .editableLayoutContainer:hover {
    border-color: gray;
}

.draggableElement:hover > .toolbox,
.editableLayoutContainer:hover > .toolbox{
    display: block;
    z-index: 2;
}

.draggableElement:hover > .info,
.editableLayoutContainer:hover > .info {
    display: block;
}

.draggableElement {
    cursor: move;
}

.dropZone {
    position: absolute;
    height: 10px;
    width: 100%;
}

.dropZone.top {
    top: 0px;
}

.dropZone.bottom {
    bottom: 0px;
}

.dropZone.active {
    border: 1px dashed green;
    background-color: #e2ffe2;
    text-align: center;
    height: 10px;
}

/* Editable layout container */
.editableLayoutContainer {
    padding: 10px;
}

/* Metadata info */
.info {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: gray;
    color: white;
    display: none;
    z-index: 2;
}

/* Toolbox */
.toolbox {
    display: block;
    z-index: 2;
}

.toolbox {
    position: absolute;
    top: 0px;
    right: 0px;
    display: none;
}

.toolbox > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.toolbox > ul > li {
    padding-left: 2px;
    display: inline-block;
}

/* Common */
.fullWidth {
    width: 100%;
}

.container {
    padding: 5px;
}

.jsonEditor {
    height: 400px;
}