@model Website.Models.CallbackViewModel

<div>The grant identifier is : @Model.GrantId</div>

<h5>List of bank accounts</h5>
<ul>
    @foreach(var bankAccount in Model.Accounts)
    {
        <li>@bankAccount</li>
    }
</ul>