<div fxLayout="row" class="breadcrumb">
  <div fxFlex="80%">
    <ul>
      <li><div class="mat-h1">{{ "scopes.list" | translate }}</div></li>
    </ul>
  </div>
  <div>
    <button mat-raised-button color="primary" (click)="addScope()">
      <mat-icon>add</mat-icon>
      {{ 'scopes.add' | translate }}
    </button>
  </div>
</div>
<loader *ngIf="isLoading"></loader>
<div class="mat-elevation-z8 overflow-hidden" [style.display]="!isLoading ? 'block' : 'none'">
  <mat-table class="full-width" [dataSource]="scopes$" matSortActive="update_datetime" matSortDirection="desc" matSort>
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{ "scopes.scopeName" | translate }}</mat-header-cell>
      <mat-cell *matCellDef="let scope">
        <a [routerLink]="['/scopes', scope.Name]">{{scope.Name}}</a>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="is_standard">
      <mat-header-cell *matHeaderCellDef>{{ "scopes.isStandard" | translate }}</mat-header-cell>
      <mat-cell *matCellDef="let scope">
        <mat-icon *ngIf="scope.IsStandard" class="isStandard">check_circle_outline</mat-icon>
        <mat-icon *ngIf="!scope.IsStandard" class="isNotStandard">remove_circle_outline</mat-icon>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="update_datetime">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{ "scopes.updateDateTime" | translate }}</mat-header-cell>
      <mat-cell *matCellDef="let scope">{{ scope.UpdateDateTime | date:'fullDate' }}</mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator [length]="length" [pageSize]="50" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
