@using SimpleIdServer.OpenID.SqlServer.Startup.Resources;
@model SimpleIdServer.OpenID.UI.ViewModels.ErrorViewModel

@{
    ViewBag.Title = "Error";
}

<div class="alert alert-danger" role="alert">
    @SimpleIdServer.OpenID.SqlServer.Startup.Resources.Global.ResourceManager.GetString(Model.Code)
</div>