.consentContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
}

.consent {
    width: 400px;
}

@media (max-width: 600px) {
    .consentContainer {
        padding-top: 0px;
        display: block;
    }

    .consent {
        width: auto;
    }
}

.consent .modal-content {
    padding: 20px;
}

.consent .consentinfo {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.consent .consentinfo .img {
    margin: 0px 5px 0px 5px;
}

.consent .consentinfo .separator {
    flex: 1;
    height: 1px;
    background-color: var(--sid-separator-bg);
}

.consent .consentinfo img {
    width: 60px;
}

.consent button[type='submit'] {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}