.blue {
    --bs-primary-rgb: 13, 71, 161;
    --bs-primary: #0d47a1;
    --sid-separator-bg: #eee;
}

.blue .navbar-nav {
    --bs-nav-link-color: #e7e2e2;
    --bs-nav-link-hover-color: white;
}

#container {
    padding: 10px 5px 0px 10px;
}

.card-body {
    overflow: hidden;   
}