<div class="breadcrumb">
  <ul>
    <li>
      <div class="mat-h1"><a [routerLink]="['/applications']">{{ "applications.list" | translate }}</a></div>
    </li>
    <li class="separator">
      <div class="mat-h1">\</div>
    </li>
    <li>
      <div class="mat-h1">{{application.ClientId}}</div>
    </li>
  </ul>
</div>
<loader *ngIf="isLoading"></loader>
<div *ngIf="!isLoading">
  <mat-card>
    <form [formGroup]="updateApplicationForm" (ngSubmit)="saveApplication($event, updateApplicationForm.value)">
      <mat-card-content>
        <!-- Basic Information -->
        <div fxLayout="row">
          <div fxFlex="30%">
            <h3>{{ 'applications.basicinfo' | translate }}</h3>
          </div>
          <div fxFlex="70%">
            <!-- Name -->
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>{{ "applications.clientName" | translate }}</mat-label>
              <input matInput formControlName="clientName" />
              <div class="actions">
                <mat-icon (click)="edit(clientNames, translate('applications.editClientName'))" class="edit">edit</mat-icon>
              </div>
            </mat-form-field>
            <!-- Client identifier -->
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>{{ "applications.clientId" | translate }}</mat-label>
              <input matInput formControlName="clientId" />
            </mat-form-field>
            <!-- Client secret -->
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>{{ "applications.clientSecret" | translate }}</mat-label>
              <input matInput [type]="clientSecretInputType" formControlName="clientSecret" />
              <div class="actions">
                <mat-icon class="copy" [matTooltip]="'applications.actions.copy' | translate" [cdkCopyToClipboard]="getClientSecret()">content_copy</mat-icon>
                <mat-icon class="display" [matTooltip]="'applications.actions.reveal' | translate" (mousedown)="displayClientSecret()" (mouseup)="hideClientSecret()">visibility</mat-icon>
              </div>
            </mat-form-field>
          </div>
        </div>
        <mat-divider></mat-divider>
        <!-- Properties -->
        <div fxLayout="row">
          <div fxFlex="30%">
            <h3>{{ 'applications.properties' | translate }}</h3>
          </div>
          <div fxFlex="70%">
            <!-- Logo URI -->
            <p>{{ 'applications.clientLogoUri' | translate }}</p>
            <div class="img-editor">
              <div class="img">
                <img src="{{ clientLogoUris | translateenum }}" />
              </div>
              <mat-form-field appearance="outline" class="full-width">
                <input matInput formControlName="logoUri" />
                <div class="actions">
                  <mat-icon (click)="edit(clientLogoUris, translate('applications.editLogoUri'))" class="edit">edit</mat-icon>
                </div>
              </mat-form-field>
            </div>
            <!-- Application type -->
            <metadataselector [label]="'applications.kind' | translate" [value]="applicationKind" metadata="metadata.content.applicationKind" (changed)="onApplicationKindChanged($event)"></metadataselector>
            <!-- Token authentication method -->
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>{{  'applications.tokenAuthMethod' | translate}}</mat-label>
              <mat-select formControlName="tokenAuthMethod">
                <mat-option *ngIf="applicationKind === 0 || applicationKind === 3 || applicationKind === 4" value="client_secret_basic">{{ 'applications.tokenAuthMethods.clientSecretBasic' | translate }}</mat-option>
                <mat-option *ngIf="applicationKind === 0 || applicationKind === 3 || applicationKind === 4" value="client_secret_post">{{ 'applications.tokenAuthMethods.clientSecretPost' | translate }}</mat-option>
                <mat-option *ngIf="applicationKind === 1 || applicationKind === 2" value="pkce">{{ 'applications.tokenAuthMethods.pkce' | translate }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <mat-divider></mat-divider>
        <!-- Scopes -->
        <div>
          <div fxFlex="30%">
            <h3>{{ 'applications.scopes' | translate }}</h3>
          </div>
          <div fxFlex="70%">
            <multiselector [label]="'applications.allowedScopes' | translate" [selections]="scopes"></multiselector>
          </div>
        </div>
        <mat-divider></mat-divider>
        <!-- URIS -->
        <div>
          <div fxFlex="30%">
            <h3>{{ 'applications.uris' | translate }}</h3>
          </div>
          <div fxFlex="70%">
            <!-- Callback uris  -->
            <div>
              <mat-form-field appearance="outline" class="full-width no-bottom-padding">
                <mat-label>{{ 'applications.callbackUris' | translate }}</mat-label>
                <mat-chip-list #redirectUriChipList>
                  <mat-chip *ngFor="let redirectUri of redirectUris" (removed)="removeRedirectUri(redirectUri)">
                    {{redirectUri}}
                    <mat-icon matChipRemove>cancel</mat-icon>
                  </mat-chip>
                  <input [placeholder]="'applications.newCallbackUri' | translate"
                         [matChipInputFor]="redirectUriChipList"
                         matChipInputAddOnBlur="true"
                         (matChipInputTokenEnd)="addRedirectUri($event)" />
                </mat-chip-list>
              </mat-form-field>
              <p>{{ 'applications.callbackUrisDescription' | translate }}</p>
            </div>
            <!-- Post logout redirect uris -->
            <div>
              <mat-form-field appearance="outline" class="full-width no-bottom-padding">
                <mat-label>{{ 'applications.logoutUris' | translate }}</mat-label>
                <mat-chip-list #logoutUriChipList>
                  <mat-chip *ngFor="let logoutUri of logoutUris" (removed)="removeLogoutUri(logoutUri)">
                    {{logoutUri}}
                    <mat-icon matChipRemove>cancel</mat-icon>
                  </mat-chip>
                  <input [placeholder]="'applications.newLogoutUri' | translate"
                         [matChipInputFor]="logoutUriChipList"
                         matChipInputAddOnBlur="true"
                         (matChipInputTokenEnd)="addLogoutUri($event)" />
                </mat-chip-list>
              </mat-form-field>
              <p>{{ 'applications.logoutUriDescription' | translate }}</p>
            </div>
          </div>
        </div>
        <mat-divider></mat-divider>
        <!-- Token -->
        <div>
          <div fxFlex="30%">
            <h3>{{ 'applications.token' | translate }}</h3>
          </div>
          <div fxFlex="70%">
            <!-- Token expiration time -->
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>{{ "applications.tokenExpirationTime" | translate }}</mat-label>
              <input type="number" matInput formControlName="tokenExpirationTime" />
            </mat-form-field>
            <!-- Refresh token expiration time -->
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>{{ "applications.refreshTokenExpirationTime" | translate }}</mat-label>
              <input type="number" matInput formControlName="refreshTokenExpirationTime" />
            </mat-form-field>
          </div>
        </div>
        <!-- Advances settings -->
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>{{ 'applications.advancedSettings' | translate }}</mat-panel-title>
            </mat-expansion-panel-header>
            <mat-tab-group>
              <!-- Grant types -->
              <mat-tab [label]="'applications.grantTypes' | translate">
                <multiselector [selections]="grantTypes" [displayName]="displayGrantType"></multiselector>
              </mat-tab>
              <!-- Certificates -->
              <mat-tab [label]="'applications.certificates' | translate">
                <mat-table class="full-width" [dataSource]="jwks">
                  <ng-container matColumnDef="kty">
                    <mat-header-cell *matHeaderCellDef>{{ "applications.kty" | translate }}</mat-header-cell>
                    <mat-cell *matCellDef="let jwk">
                      <a href="#" (click)="displayJwk($event, jwk)">{{ jwk.kty }}</a>
                    </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="alg">
                    <mat-header-cell *matHeaderCellDef>{{ "applications.alg" | translate }}</mat-header-cell>
                    <mat-cell *matCellDef="let jwk">
                      {{ jwk.alg }}
                    </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="use">
                    <mat-header-cell *matHeaderCellDef>{{ "applications.use" | translate }}</mat-header-cell>
                    <mat-cell *matCellDef="let jwk">
                      {{ 'applications.usages.' + jwk.use | translate }}
                    </mat-cell>
                  </ng-container>
                  <mat-header-row *matHeaderRowDef="displayedJwkColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedJwkColumns;"></mat-row>
                </mat-table>
              </mat-tab>
            </mat-tab-group>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card-content>
      <mat-card-actions>
        <button type="submit" mat-raised-button color="primary">{{ 'save' | translate }}</button>
      </mat-card-actions>
    </form>
  </mat-card>
  <h2>{{ 'applications.dangerZone' | translate }}</h2>
  <div class="alert alert-danger" fxLayout="row">
    <div fxFlex="90%">
      <b>{{ 'applications.deleteTitle' | translate }}</b>
    </div>
    <div>
      <button mat-raised-button color="warn" (click)="delete()">{{ 'applications.delete' | translate }}</button>
    </div>
  </div>
</div>
