<h1 mat-dialog-title>{{ 'HUMANTASK.EDITOR.CONFIGUREROW' | translate }}</h1> 
<form [formGroup]="configureRowForm" (ngSubmit)="onSave(configureRowForm.value)">
    <div mat-dialog-content>
        <!-- Nb columns -->
        <mat-form-field class="full-width" appearance="outline" floatLabel="always">
            <mat-label>{{ 'SHARED.NBCOLUMNS' | translate }}</mat-label>
            <input matInput name="nbColumns" formControlName="nbColumns" />
        </mat-form-field>
    </div>
    <mat-dialog-actions>
        <button mat-raised-button color="primary">{{ 'SHARED.SAVE' | translate }}</button>
        <button mat-button (click)="close($event)">{{ 'SHARED.CANCEL' | translate }}</button>
    </mat-dialog-actions>
</form>