<h1 mat-dialog-title>{{ 'HUMANTASK.EDITOR.CONFIGUREHEADER' | translate }}</h1>
<form [formGroup]="configureForm" (ngSubmit)="onSave(configureForm.value)">
    <div mat-dialog-content>
        <!-- Label -->
        <mat-form-field class="full-width" appearance="outline" floatLabel="always" *ngFor="let language of languages">
            <mat-label>{{ 'HUMANTASK.EDITOR.TRANSLATIONS.' + language | translate }}</mat-label>
            <input matInput name="label" [formControlName]="'label#' + language" />
        </mat-form-field>
        <!-- Types -->
        <mat-form-field class="full-width" appearance="outline" floatLabel="always">
            <mat-select formControlName="class">
                <mat-option value="mat-display-1">Display 1</mat-option>
                <mat-option value="mat-display-2">Display 2</mat-option>
                <mat-option value="mat-display-3">Display 3</mat-option>
                <mat-option value="mat-display-4">Display 4</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <mat-dialog-actions>
        <button mat-raised-button color="primary">{{ 'SHARED.SAVE' | translate }}</button>
        <button mat-button (click)="close($event)">{{ 'SHARED.CANCEL' | translate }}</button>
    </mat-dialog-actions>
</form>