:host {
    display: block;
    height: 100%;
}

.provisioningException {
    position: relative;
}

.actionsProvisioning {
  position: absolute;
  right: 0px;
  top: 0px;
  background-color: white;
}

.actionsProvisioning > .copy {
  cursor: pointer;
}

.mat-column-exception {
  flex: 0 0 30% !important;
  width: 30% !important;
}
