<div fxLayout="row" class="breadcrumb">
  <div fxFlex="80%">
    <ul>
      <li><div class="mat-h1">{{ "provisioning.history.list" | translate }}</div></li>
    </ul>
  </div>
</div>
<loader *ngIf="isLoading"></loader>
<div class="mat-elevation-z8 overflow-hidden" [style.display]="!isLoading ? 'block' : 'none'">
  <mat-table class="full-width" [dataSource]="provisioningConfigurations$" matSortActive="executionDateTime" matSortDirection="desc" matSort>
    <!-- representationId -->
    <ng-container matColumnDef="representationId">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{ "provisioning.history.representationId" | translate }}</mat-header-cell>
      <mat-cell *matCellDef="let history">
        <a [routerLink]="['/users', history.representationId]">{{history.representationId}}</a>
      </mat-cell>
    </ng-container>
    <!-- representationVersion -->
    <ng-container matColumnDef="representationVersion">
      <mat-header-cell *matHeaderCellDef  mat-sort-header>{{ "provisioning.history.representationVersion" | translate }}</mat-header-cell>
      <mat-cell *matCellDef="let history">
        {{ history.representationVersion }}
      </mat-cell>
    </ng-container>
    <!-- status -->
    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef>{{ "provisioning.history.status" | translate }}</mat-header-cell>
      <mat-cell *matCellDef="let history">
        <mat-chip-list>
          <mat-chip [class.success]="history.status === 0" [class.error]="history.status === 1">{{ "provisioning.history.statusTypes." + history.status | translate }}</mat-chip>
        </mat-chip-list>
      </mat-cell>
    </ng-container>
    <!-- exception -->
    <ng-container matColumnDef="exception">
      <mat-header-cell *matHeaderCellDef>{{ "provisioning.history.exception" | translate }}</mat-header-cell>
      <mat-cell *matCellDef="let history">
        <div class="ellipsis provisioningException">
          {{ history.exception }}
          <div class="actionsProvisioning">
            <mat-icon class="copy small" [cdkCopyToClipboard]="history.exception" [matTooltip]="'provisioning.history.copy' | translate">content_copy</mat-icon>
          </div>
        </div>
      </mat-cell>
    </ng-container>
    <!-- executionDateTime -->
    <ng-container matColumnDef="executionDateTime">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{ "provisioning.history.executionDateTime" | translate }}</mat-header-cell>
      <mat-cell *matCellDef="let history">
        {{history.executionDateTime | date:'short'}}
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator [length]="length" [pageSize]="50" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
