@using FormBuilder.Components.Drag

<DraggableFormElement IsViewSettingsDisabled=true IsEditModeEnabled=@IsEditModeEnabled ParentContext="@ParentContext" Context="@Context" TDialog="EmptyDialog" TRecord="ListDataRecord" Record="@Value">
    <Children>
        <RadzenStack Orientation="Orientation.Vertical">
            @if (IsEditModeEnabled)
            {
                <span>Configure the list of data</span>
            }
            else
            {
                @CustomRender
            }
        </RadzenStack>
    </Children>
</DraggableFormElement>