[Unit]
Description=OPENID server
After=network.target

[Service]
ExecStart=/usr/bin/dotnet /home/ftpuser/src/build/results/services/OpenID/SimpleIdServer.OpenID.Startup.dll --server.urls="http://*:60000"
KillMode=process
TimeoutStopSec=5s
Restart=always
WorkingDirectory=/home/ftpuser/src/build/results/services/OpenID

[Install]
WantedBy=multi-user.target