[Unit]
Description=SimpleIdServer API
After=network.target

[Service]
ExecStart=/usr/bin/dotnet /home/ftpuser/src/build/results/services/SimpleIdServerApi/SimpleIdServer.Gateway.Host.dll --server.urls="http://*:5001"
KillMode=process
TimeoutStopSec=5s
Restart=always
WorkingDirectory=/home/ftpuser/src/build/results/services/SimpleIdServerApi
Environment=ASPNETCORE_ENVIRONMENT=Production

[Install]
WantedBy=multi-user.target