@using SimpleIdServer.IdServer.ConformanceSuite.Startup.Resources;
@model SimpleIdServer.IdServer.UI.ViewModels.ErrorViewModel

@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-danger" role="alert">
    <b>@SimpleIdServer.IdServer.ConformanceSuite.Startup.Resources.ErrorsResource.ResourceManager.GetString(Model.Code)</b>
    @if(!string.IsNullOrWhiteSpace(Model.Message))
    {
        <p>@Model.Message</p>
    }
</div>