@{
    ViewBag.Title = "Error";
}

@model SimpleIdServer.OpenID.UI.ViewModels.ErrorViewModel

<div class="alert alert-danger" role="alert">
    @SimpleIdServer.OpenIDUma.Full.Startup.Resources.OpenIdGlobal.ResourceManager.GetString(Model.Code)
</div>