<h1 mat-dialog-title>{{ 'users.editPhoneNumber' | translate }}</h1>
<div mat-dialog-content>
  <form [formGroup]="editPhoneNumberForm">
    <!-- Value -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>{{ 'users.phoneNumberValue' | translate }}</mat-label>
      <input matInput formControlName="value" />
    </mat-form-field>
    <!-- Display -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>{{ 'users.phoneNumberDisplay' | translate }}</mat-label>
      <input matInput formControlName="display" />
    </mat-form-field>
    <!-- Type -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>{{ 'users.phoneNumberType' | translate }}</mat-label>
      <mat-select formControlName="type">
        <mat-option value="work">{{ 'users.phoneNumberTypes.work' | translate }}</mat-option>
        <mat-option value="home">{{ 'users.phoneNumberTypes.home' | translate }}</mat-option>
        <mat-option value="mobile">{{ 'users.phoneNumberTypes.mobile' | translate }}</mat-option>
        <mat-option value="fax">{{ 'users.phoneNumberTypes.fax' | translate }}</mat-option>
        <mat-option value="pager">{{ 'users.phoneNumberTypes.pager' | translate }}</mat-option>
        <mat-option value="other">{{ 'users.phoneNumberTypes.other' | translate }}</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button color="primary" (click)="save()">{{ 'save' | translate }}</button>
  <button mat-button color="warn" mat-dialog-close>{{ 'close' | translate }}</button>
</div>
