<div fxLayout="row" class="breadcrumb">
  <div fxFlex="80%">
    <ul>
      <li>
        <div class="mat-h1">
          <a [routerLink]="['/users']">{{ "users.list" | translate }}</a>
        </div>
      </li>
      <li class="separator">
        <div class="mat-h1">\</div>
      </li>
      <li>
        <div class="mat-h1">{{user$?.userName}}</div>
      </li>
    </ul>
  </div>
</div>
<nav mat-tab-nav-bar>
  <a mat-tab-link
     [routerLink]="['/users/'+ user$?.id + '/details']"
     routerLinkActive
     #rla1="routerLinkActive"
     [active]="rla1.isActive">
    {{ 'users.navs.details' | translate }}
  </a>
  <a mat-tab-link
     [routerLink]="['/users/'+ user$?.id +'/consents']"
     routerLinkActive
     #rla2="routerLinkActive"
     [active]="rla2.isActive">
    {{ 'users.navs.consents' | translate }}
  </a>
</nav>
<router-outlet></router-outlet>
