<div fxLayout="row" fxLayout.lt-sm="column">
    <div fxFlex="50%">
        <form (ngSubmit)="addTranslation(addTranslationForm.value)" [formGroup]="addTranslationForm">
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>{{ "LANGUAGES" | translate }}</mat-label>
                <mat-select formControlName="language">
                    <mat-option value="fr">French</mat-option>
                    <mat-option value="fr">English</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>{{ "VALUE" | translate }}</mat-label>
                <input matInput formControlName="value">
            </mat-form-field>
            <button mat-raised-button color="primary">
                {{ "ADD" | translate }}
            </button>
        </form>
    </div>
    <div fxFlex="50%">
        <mat-list>
            <mat-list-item *ngFor="let translation of translations; let index = index;">
                <span>{{ translation.Value }} ({{ translation.Language }})</span>
                <div class="spacer"></div>
                <button mat-icon-button (click)="delete(index)">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-list-item>
        </mat-list>
    </div>
</div>