<loader *ngIf="isLoading"></loader>
<div class="mat-elevation-z8 overflow-hidden details" [style.display]="!isLoading ? 'block' : 'none'">
  <mat-card>
    <form [formGroup]="saveFormGroup" (ngSubmit)="save(saveFormGroup.value)">
      <h2>{{ 'workflow.details' | translate }}</h2>
      <mat-card-content>
        <!--id -->
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>{{ 'workflow.id' | translate }}</mat-label>
          <input matInput type="text" formControlName="id" />
          <div class="actions">
            <mat-icon class="copy" [matTooltip]="'workflow.actions.copy' | translate" [cdkCopyToClipboard]="saveFormGroup.get('id')?.value">content_copy</mat-icon>
          </div>
        </mat-form-field>
        <!--name -->
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>{{ 'workflow.name' | translate }}</mat-label>
          <input matInput type="text" formControlName="name" />
        </mat-form-field>
        <!-- Description -->
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>{{ 'workflow.description' | translate }}</mat-label>
          <textarea matInput name="description" formControlName="description"></textarea>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button type="submit" mat-raised-button color="primary" [style.display]="workflow$?.status === 'Edited' ? 'block' : 'none'">{{ 'save' | translate }}</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
