<h1 mat-dialog-title>{{ 'users.editEmail' | translate }}</h1>
<div mat-dialog-content>
  <form [formGroup]="editEmailForm">
    <!-- Value -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>{{ 'users.emailAddress' | translate }}</mat-label>
      <input matInput formControlName="value" />
    </mat-form-field>
    <!-- Display -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>{{ 'users.emailDisplay' | translate }}</mat-label>
      <input matInput formControlName="display" />
    </mat-form-field>
    <!-- Type -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>{{ 'users.emailType' | translate }}</mat-label>
      <mat-select formControlName="type">
        <mat-option value="work">{{ 'users.emailTypes.work' | translate }}</mat-option>
        <mat-option value="home">{{ 'users.emailTypes.home' | translate }}</mat-option>
        <mat-option value="other">{{ 'users.emailTypes.other' | translate }}</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button color="primary" (click)="save()">{{ 'save' | translate }}</button>
  <button mat-button color="warn" mat-dialog-close>{{ 'close' | translate }}</button>
</div>
