<h1 mat-dialog-title>{{ 'users.editAddress' | translate }}</h1>
<div mat-dialog-content>
  <form [formGroup]="editAddressForm">
    <!-- StreetAddress -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>{{ 'users.streetAddress' | translate }}</mat-label>
      <input matInput formControlName="streetAddress" />
    </mat-form-field>
    <!-- Formatted -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>{{ 'users.addressFormatted' | translate }}</mat-label>
      <input matInput formControlName="formatted" />
    </mat-form-field>
    <!-- Locality -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>{{ 'users.addressLocality' | translate }}</mat-label>
      <input matInput formControlName="locality" />
    </mat-form-field>
    <!-- Region -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>{{ 'users.addressRegion' | translate }}</mat-label>
      <input matInput formControlName="region" />
    </mat-form-field>
    <!-- PostalCode -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>{{ 'users.addressPostalCode' | translate }}</mat-label>
      <input matInput formControlName="postalCode" />
    </mat-form-field>
    <!-- Type -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>{{ 'users.addressType' | translate }}</mat-label>
      <mat-select formControlName="type">
        <mat-option value="work">{{ 'users.addressTypes.work' | translate }}</mat-option>
        <mat-option value="home">{{ 'users.addressTypes.home' | translate }}</mat-option>
        <mat-option value="other">{{ 'users.addressTypes.other' | translate }}</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button color="primary" (click)="save()">{{ 'save' | translate }}</button>
  <button mat-button color="warn" mat-dialog-close>{{ 'close' | translate }}</button>
</div>
