<h3>Profile</h3>

<from>
    <div class="form-group">
        <label>Firstname</label>
        <input type="text" class="form-control" disabled />
    </div>
    <div class="form-group">
        <label>Lastname</label>
        <input type="text" class="form-control" disabled />
    </div>
</from>

<a asp-controller="Profile" asp-action="Edit" class="btn-primary btn">Edit the profile</a>