@using SimpleIdServer.IdServer.Startup.Resources;
@model SimpleIdServer.IdServer.UI.ViewModels.ErrorViewModel

@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-danger" role="alert">
    @SimpleIdServer.IdServer.Startup.Resources.ErrorsResource.ResourceManager.GetString(Model.Code)
</div>