<div fxLayout="row" class="breadcrumb">
  <div fxFlex="80%">
    <ul>
      <li><div class="mat-h1">{{ "relyingParties.list" | translate }}</div></li>
    </ul>
  </div>
  <div>
    <button mat-raised-button color="primary" (click)="addRelyingParty()">
      <mat-icon>add</mat-icon>
      {{ 'relyingParties.add' | translate }}
    </button>
  </div>
</div>
<loader *ngIf="isLoading"></loader>
<div class="mat-elevation-z8 overflow-hidden" [style.display]="!isLoading ? 'block' : 'none'">
  <mat-table class="full-width" [dataSource]="relyingParties$" matSortActive="create_datetime" matSortDirection="desc" matSort>
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef>{{ "relyingParties.id" | translate }}</mat-header-cell>
      <mat-cell *matCellDef="let relyingParty">
        <a [routerLink]="['/relyingparties', relyingParty.id]">{{relyingParty.id}}</a>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="create_datetime">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{ "relyingParties.createDateTime" | translate }}</mat-header-cell>
      <mat-cell *matCellDef="let relyingParty">{{ relyingParty.createDateTime | date:'fullDate' }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="update_datetime">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{ "relyingParties.updateDateTime" | translate }}</mat-header-cell>
      <mat-cell *matCellDef="let relyingParty">{{ relyingParty.updateDateTime | date:'fullDate' }}</mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator [length]="length" [pageSize]="50" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
