html, body {
  height: 100%;
}

body, h1 {
  margin: 0;
}

/* Common */
.container {
  max-width: 1000px;
}

.spacer {
  flex: 1 1 auto;
}

.full-width {
  width: 100%;
}

.container {
    height: 100%;
}

.container, .center {
  margin-left: auto;
  margin-right: auto;
}

.padding-td-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.padding-lr-5 {
  padding-left: 5px;
  padding-right: 5px;
}

.padding-b-10 {
  padding-bottom: 10px;
}

.relative {
  position: relative;
}

.mat-form-field.no-bottom-padding .mat-form-field-wrapper {
    padding-bottom: 0px !important;
}

.mat-table .mat-cell > a,
.mat-table .mat-cell .ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mat-chip-list.inline {
    display: inline-block !important;
}

.mat-icon.small {
    font-size: 20px;
}

/* Breadcrumb */
.breadcrumb {
  padding: 20px 0px 20px 0px;
}

.breadcrumb ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumb ul .separator {
  padding-right: .75rem;
  padding-left: .75rem;
}

.breadcrumb ul li {
  display: inline-block;
}


/* Actions displayed in mat-form-field */
.actions {
  position: absolute;
  top: 5px;
  right: 0px;
}

.actions > .copy,
.actions > .display,
.actions > .edit,
.actions > .add {
  cursor: pointer;
}

/* Image editor */
.img-editor {
  border: 1px solid;
  border-radius: 5px;
  margin-bottom: 1.34375em;
}

.img-editor > .img {
  text-align: center;
  border-bottom: 1px solid;
  height: 150px;
}

.img-editor > .img > img {
  height: 150px;
}

.img-editor .mat-form-field-wrapper {
  padding: 0px !important;
  margin: 0px !important;
}

.img-editor .mat-form-field-outline {
  color: black;
}

.img-editor .mat-form-field .mat-form-field-outline-start,
.img-editor .mat-form-field .mat-form-field-outline-end {
  border-radius: 0 !important;
  border: none;
}

/* Alert */
.alert {
  border-radius: .25rem;
  padding: .75rem 1.25rem;
  border: 1px solid transparent;
  margin-bottom: 20px;
}

.alert.alert-danger {
  color: #721c24;
  background-color: #f17b7b;
  border-color: #f17b7b;
}

.alert.alert-warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}

.alert.alert-primary {
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff;
}

/* Workflow Overlay */
.error-overlay {
  opacity: 0.4;
  cursor: pointer !important;
  border-radius: 10px;
}

.complete-overlay {
  opacity: 0.4;
  cursor: pointer !important;
  border-radius: 10px;
}

.selected-overlay {
  border: 2px solid red;
  width: 98px;
  height: 78px;
  border-radius: 10px;
}
