@mixin app-theme($theme) {
  $primary: map-get($theme, primary);

  .is-active {
    background-color: rgb(245, 245, 245) !important;
  }

  .actions {
    background-color: white;
  }

  .mat-form-field-disabled .actions > .copy,
  .mat-form-field-disabled .actions > .display,
  .mat-form-field-disabled .actions > .edit,
  .picture > .navigation .actBtn,
  .picture > .navigation > .navInfo {
    color: rgb(158, 158, 158) !important;
  }

  .mat-table .mat-row.hovered {
    background: #ebeeff;
  }

  .mat-table .mat-row.highlighted {
    background: #bbc0de;
  }

  .img-editor,
  .img-editor > .img,
  .picture,
  .picture > .content {
    border-color: rgb(224, 224, 224) !important;
  }

  #applicationKinds > .applicationKind.isSelected {
    box-shadow: inset 0px 0px 0px 1px mat-color($primary, 300);
    border-color: mat-color($primary, 300) !important;
  }

  .header-toolbar {
    background-color: mat-color($primary, 600) !important;
    color: white !important;
  }

  .error-overlay {
    background-color: red;
  }

  .complete-overlay {
    background-color: green;
  }
}

@mixin component-themes($theme) {
  @include app-theme($theme);
}
