:host {
    display: block;
    height: 100%;
}

.instance, .selectedElt {
  margin-top: 10px;
}

.selectedElt .token {
    margin-top: 5px;
    margin-bottom: 5px;
}

#canvasView {
    height: 360px;
}
