@using SimpleIdServer.Vc.Models;
@if(CredentialTemplate != null)
{
    switch (CredentialTemplate.Format)
    {
        case SimpleIdServer.Vc.Constants.CredentialTemplateProfiles.W3CVerifiableCredentials:
            <RadzenTemplateForm Submit=@UpdateW3CCredentialTemplateParameters TItem="W3CCredentialTemplateParametersForm" Data=@credentialTemplateParameters>
                <!-- Types -->
                <div>
                    <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Types</RadzenText>
                    <RadzenTextBox Name="Types" @bind-Value="@credentialTemplateParameters.Types" Class="w-100"></RadzenTextBox>
                    <p class="text-muted">
                        List of types separated by <b>;</b> <br/>
                        Array designating the types of a certain credential type supports for example <b>UniversityDegreeCredential</b>.
                    </p>
                </div>
                <RadzenButton class="mt-1" Variant="Variant.Flat" ButtonType="ButtonType.Submit" ButtonStyle="ButtonStyle.Success" Text="Update" />
            </RadzenTemplateForm>
            break;
    }
}


@code {
    [Parameter]
    public SimpleIdServer.IdServer.Domains.CredentialTemplate CredentialTemplate { get; set; }

    record W3CCredentialTemplateParametersForm
    {
        public string Types { get; set; }
    }

    W3CCredentialTemplateParametersForm credentialTemplateParameters = new W3CCredentialTemplateParametersForm();

    void UpdateW3CCredentialTemplateParameters(W3CCredentialTemplateParametersForm form)
    {

    }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        if(CredentialTemplate == null) return;
        switch (CredentialTemplate.Format)
        {
            case SimpleIdServer.Vc.Constants.CredentialTemplateProfiles.W3CVerifiableCredentials:
                var w3cCredentialTemplate = new W3CCredentialTemplate(CredentialTemplate);
                credentialTemplateParameters.Types = string.Join(";", w3cCredentialTemplate.GetTypes());
                break;
        }
    }
}