@if (CredentialTemplate != null)
{
    <!-- Identifier -->
    <div>
        <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Identifier</RadzenText>
        <RadzenTextBox Name="Id" @bind-Value="@CredentialTemplate.Id" Class="w-100" Disabled=true></RadzenTextBox>
    </div>
    <!-- Format -->
    <div>
        <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Name</RadzenText>
        <RadzenTextBox Name="Login" @bind-Value="@CredentialTemplate.Format" Class="w-100" Disabled=true></RadzenTextBox>
    </div>
    <!-- Created at -->
    <div>
        <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Created at</RadzenText>
        <RadzenDatePicker @bind-Value=@CredentialTemplate.CreateDateTime DateFormat="d" Class="w-100" Disabled=true />
    </div>
    <!-- Updated at -->
    <div>
        <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Updated at</RadzenText>
        <RadzenDatePicker @bind-Value=@CredentialTemplate.UpdateDateTime DateFormat="d" Class="w-100" Disabled=true />
    </div>    
}

@code {
    [Parameter]
    public SimpleIdServer.IdServer.Domains.CredentialTemplate CredentialTemplate { get; set; }
}