@page "/realm/{action}"
@using Microsoft.Extensions.Options;
@using SimpleIdServer.IdServer.Helpers
@using SimpleIdServer.IdServer.Website.Infrastructures
@using SimpleIdServer.IdServer.Website.Resources;
@using SimpleIdServer.IdServer.Website.Stores.RealmStore;
@using SimpleIdServer.IdServer.Website.Stores.StatisticStore;
@inject IOptions<IdServerWebsiteOptions> Options;
@inject IState<RealmsState> realmsState
@inject IState<StatisticsState> statisticsState
@inject IDispatcher dispatcher
@inject DialogService dialogService
@inject IUrlHelper urlHelper
@inject NavigationManager navigationManager
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<style>
    .red {
        color: red;
    }

    .green {
        color: green;
    }
</style>

@if(Options.Value.IsReamEnabled)
{
    <div class="mb-1">
        <SidAuthorizeView Roles="SIDS-manager/administrator">
            <Authorized>
                <RadzenButton Click=@((args) => AddRealm()) Variant="Variant.Flat" ButtonType="ButtonType.Button" ButtonStyle="ButtonStyle.Primary" Text="@Global.AddRealm" />
            </Authorized>
        </SidAuthorizeView>
        <RadzenButton Click=@((args) => ChooseRealm()) Variant="Variant.Flat" ButtonType="ButtonType.Button" ButtonStyle="ButtonStyle.Primary" Text="@Global.ChooseRealm" />
    </div>    
}

<RadzenCard>
    <RadzenTabs Change=@OnChange @bind-SelectedIndex="selectedIndex">
        <Tabs>
            <RadzenTabsItem Text="@Global.Details">
                <RealmDetails></RealmDetails>
            </RadzenTabsItem>
            <RadzenTabsItem Text="@Global.Roles">
                <RealmRoles></RealmRoles>
            </RadzenTabsItem>
        </Tabs>
    </RadzenTabs>
</RadzenCard>

@code {
    private Dictionary<string, int> mappingActionNameToIndex = new Dictionary<string, int>
    {
        { "overview", 0 },
        { "roles", 1 }
    };

    int selectedIndex = 0;

    [Parameter]
    public string? action { get; set; } = null;

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        if (string.IsNullOrWhiteSpace(action)) action = "overview";
        selectedIndex = mappingActionNameToIndex[action];

    }

    void AddRealm()
    {
        navigationManager.NavigateTo(urlHelper.GetUrl("/addrealm"));
    }

    async void ChooseRealm()
    {
        await dialogService.OpenAsync<SelectRealmDialog>(Global.SelectRealm, new Dictionary<string, object>
        {
            { "activeRealm", RealmContext.Instance().Realm }
        }, new DialogOptions
        {
            Width = "700px",
            Height = "512px",
            Resizable = true,
            Draggable = true
        });
    }

    void OnChange(int index)
    {
        var rec = mappingActionNameToIndex.Single(kvp => kvp.Value == index);
        navigationManager.NavigateTo(urlHelper.GetUrl($"/realm/{rec.Key}"));
    }
}