@page "/scopes/{id}/{action}"
@using SimpleIdServer.IdServer.Website.Stores.ScopeStore;
@using SimpleIdServer.IdServer.Website.Stores.UserStore;
@inherits Fluxor.Blazor.Web.Components.FluxorLayout
@inject NotificationService notificationService
@inject NavigationManager navigationManager
@layout MainLayout
@inject IState<ScopeState> scopeState
@inject IDispatcher dispatcher

@if (scopeState.Value.IsLoading)
{    
    <RadzenText class="mt-3 mb-3" Text="Wait..." TextStyle="TextStyle.DisplayH6" />
}
else
{
    <RadzenBreadCrumb>
        <RadzenBreadCrumbItem Path="/scopes" Text="Scopes" />
        <RadzenBreadCrumbItem Text="Scope details" />
    </RadzenBreadCrumb>

    <RadzenText class="mt-3 mb-3" Text="@scopeState.Value.Scope?.Name" TextStyle="TextStyle.DisplayH6" />

    <div class="mb-1">
        @if (scopeState.Value.Scope.Type == ScopeTypes.IDENTITY)
        {
            <RadzenBadge Text="Identity Scope" IsPill="true" />
        }
        else
        {
            <RadzenBadge Text="API Scope" IsPill="true" />
        }

        @if (scopeState.Value.Scope.Protocol == ScopeProtocols.OPENID)
        {
            <RadzenBadge Text="OPENID" IsPill="true" />
        }
        else if (scopeState.Value.Scope.Protocol == ScopeProtocols.SAML)
        {
            <RadzenBadge Text="SAML" IsPill="true" />
        }
        else if (scopeState.Value.Scope.Protocol == ScopeProtocols.OAUTH)
        {
            <RadzenBadge Text="OAUTH" IsPill="true" />
        }
    </div>

    <RadzenTabs Change=@OnChange @bind-SelectedIndex="selectedIndex">
        <Tabs>
            <RadzenTabsItem Text="Details">
                <ScopeSettings Scope="@scopeState.Value.Scope"></ScopeSettings>
            </RadzenTabsItem>
            <RadzenTabsItem Text="Mappers">
                <ScopeMappers Scope="@scopeState.Value.Scope"></ScopeMappers>
            </RadzenTabsItem>
        </Tabs>
    </RadzenTabs>
}

@code {
    Dictionary<string, int> mappingActionNameToIndex = new Dictionary<string, int>
    {
        { "settings", 0 },
        { "mappers", 1 }
    };
    [Parameter]
    public string id { get; set; } = null!;

    [Parameter]
    public string? action { get; set; } = null;

    int selectedIndex = 0;

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        if (string.IsNullOrWhiteSpace(id)) return;
        if (!string.IsNullOrWhiteSpace(action) && mappingActionNameToIndex.ContainsKey(action))
            selectedIndex = mappingActionNameToIndex[action];
        SubscribeToAction<GetScopeFailureAction>((act) =>
        {
            notificationService.Notify(new NotificationMessage { Severity = NotificationSeverity.Error, Summary = act.ErrorMessage });
            StateHasChanged();
        });
        dispatcher.Dispatch(new GetScopeAction { ScopeName = id });
    }

    void OnChange(int index)
    {
        var rec = mappingActionNameToIndex.Single(kvp => kvp.Value == index);
        navigationManager.NavigateTo($"/scopes/{id}/{rec.Key}");
    }
}