<loader *ngIf="isLoading"></loader>
<div class="mat-elevation-z8 overflow-hidden editor" [style.display]="!isLoading ? 'block' : 'none'">
  <table mat-table class="full-width" [dataSource]="workflowInstances$" matSortActive="update_datetime" matSortDirection="desc" matSort>
    <!-- Status -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ "workflow.instance.status" | translate }}</th>
      <td mat-cell *matCellDef="let workflowInstance">
        <a href="#" [routerLink]="['/workflows/' + workflowFile$?.id + '/' + workflowInstance.id]">{{ workflowInstance.status }}</a>
      </td>
    </ng-container>
    <!-- Nb execution path  -->
    <ng-container matColumnDef="nbExecutionPath">
      <th mat-header-cell *matHeaderCellDef>{{ "workflow.instance.nbExecutionPath" | translate }}</th>
      <td mat-cell *matCellDef="let workflowInstance">{{ workflowInstance.executionPaths.length }} </td>
    </ng-container>
    <!-- CreateDateTime -->
    <ng-container matColumnDef="create_datetime">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ "workflow.instance.createDateTime" | translate }}</th>
      <td mat-cell *matCellDef="let workflowInstance">{{workflowInstance.createDateTime | date:'medium'}} </td>
    </ng-container>
    <!-- UpdateDateTime -->
    <ng-container matColumnDef="update_datetime">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ "workflow.instance.updateDateTime" | translate }}</th>
      <td mat-cell *matCellDef="let workflowInstance">{{workflowInstance.updateDateTime | date:'medium'}} </td>
    </ng-container>
    <!-- Actions -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <button mat-icon-button (click)="create($event)">
          <mat-icon>add</mat-icon>
        </button>
      </th>
      <td mat-cell *matCellDef="let workflowInstance">
        <button mat-icon-button (click)="start(workflowInstance)">
          <mat-icon>play_arrow</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [length]="length" [pageSize]="50" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
