@using SimpleIdServer.IdServer.ConformanceSuite.Startup.Resources
@model SimpleIdServer.IdServer.UI.ViewModels.RevokeSessionViewModel

@{
    ViewBag.Title = CheckSessionResource.revoke_session_title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if(Model.FrontChannelLogouts != null)
{
    foreach(var frontChannelLogout in Model.FrontChannelLogouts)
    {
        <iframe src="@frontChannelLogout" style="display: none"></iframe>
    }
}

<a href="@Model.RevokeSessionCallbackUrl" class="btn btn-danger">@CheckSessionResource.revoke_session_title</a>