<div fxLayout="row" class="breadcrumb">
  <div fxFlex="80%">
    <ul>
      <li><div class="mat-h1">{{ "authentications.list" | translate }}</div></li>
    </ul>
  </div>
</div>
<loader *ngIf="isLoading"></loader>
<div [style.display]="!isLoading ? 'block' : 'none'">
  <div fxflexfill fxLayoutGap="20px" class="authSchemeProviders">
    <mat-card fxFlex="30" *ngFor="let authSchemeProvider of authSchemeProviders$">
      <mat-card-header>
        <mat-card-title>
          <a [routerLink]="['/authentications', authSchemeProvider.id]">{{ authSchemeProvider.name }}</a>
        </mat-card-title>
        <mat-card-subtitle>{{ authSchemeProvider.updateDateTime | date:'fullDate' }}</mat-card-subtitle>
        <mat-slide-toggle [checked]="authSchemeProvider.isEnabled" (change)="toggle($event, authSchemeProvider)"></mat-slide-toggle>
      </mat-card-header>
    </mat-card>
  </div>
</div>
