<div fxLayout="row" class="breadcrumb">
  <div fxFlex="80%">
    <ul>
      <li><div class="mat-h1"><a [routerLink]="['/provisioning/configurations']">{{ "provisioning.configuration.list" | translate }}</a></div></li>
      <li class="separator">
        <div class="mat-h1">\</div>
      </li>
      <li>
        <div class="mat-h1">{{'provisioning.configuration.types.' + provisioningConfigurations$?.type | translate}}</div>
      </li>
    </ul>
  </div>
</div>
<loader *ngIf="isLoading"></loader>
<div *ngIf="!isLoading">
  <mat-card>
    <form [formGroup]="updateProvisioningConfigurationForm" (ngSubmit)="updateProvisioningConfiguration(updateProvisioningConfigurationForm.value)" >
      <mat-card-content>
        <div fxLayout="row">
          <div fxFlex="30%">
            {{ 'provisioning.configuration.basicInfo' | translate }}
          </div>
          <div fxFlex="70%">
            <!-- type -->
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>{{ "provisioning.configuration.type" | translate }}</mat-label>
              <mat-select formControlName="type">
                <mat-option value="0">{{ 'provisioning.configuration.types.0' | translate }}</mat-option>
              </mat-select>
            </mat-form-field>
            <!-- resourceType -->
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>{{ "provisioning.configuration.resourceType" | translate }}</mat-label>
              <input matInput formControlName="resourceType" />
            </mat-form-field>
          </div>
        </div>
        <mat-divider></mat-divider>
        <div fxLayout="row">
          <div fxFlex="30%">
            {{ 'provisioning.configuration.parameters' | translate }}
          </div>
          <div fxFlex="70%" formGroupName="parameters">
            <!-- Parameters -->
            <mat-form-field appearance="outline" class="full-width" *ngFor="let parameter of parameters">
              <mat-label>{{ parameter }}</mat-label>
              <input matInput [formControlName]="parameter" />
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button type="submit" mat-raised-button color="primary">{{ 'save' | translate }}</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
