[Unit]
Description=OpenBankingAPI server
After=network.target

[Service]
ExecStart=/usr/bin/dotnet /home/ftpuser/src/build/results/services/OpenBankingApi/SimpleIdServer.OpenBankingApi.Startup.dll --pathBase /openbanking --urls "https://*:60010"
KillMode=process
TimeoutStopSec=5s
Restart=always
WorkingDirectory=/home/ftpuser/src/build/results/services/OpenBankingApi
Environment=GOOGLE_APPLICATION_CREDENTIALS=/home/ftpuser/src/build/results/services/simpleidserver-1db3a-firebase-adminsdk-35ndz-5c00d8b3e9.json

[Install]
WantedBy=multi-user.target