@using FormBuilder.Models
<div class="@className" 
    ondragover="event.preventDefault()" 
    @ondrop="HandleDrop"
    @ondragenter="HandleDragEnter"
    @ondragleave="HandleDragLeave"></div>

@code {
    [Parameter] public DropZoneParameter Parameter { get; set; }
    [Parameter] public FormViewerContext Context { get; set; }

    string className { get; set; } = "dropZone";

    private void HandleDrop()
    {
        className = "dropZone";
        var recordType = Context.SelectedDefinition.RecordType;
        var record = Activator.CreateInstance(recordType) as IFormElementRecord;
        Parameter.Elements.Insert(Parameter.Index, record);
    }

    private void HandleDragEnter()
    {
        className = "dropZone active";
    }

    private void HandleDragLeave()
    {
        className = "dropZone";
    }
}