@using Fluxor.Blazor.Web.Components;
@using SimpleIdServer.IdServer.Website.Resources;
@using SimpleIdServer.IdServer.Website.Stores.ClientStore;
@using SimpleIdServer.IdServer.Website.Stores.UserStore;
@inherits FluxorComponent
@inject Radzen.DialogService dialogService
@inject NotificationService notificationService
@inject IState<AddClientState> addClientState
@inject IDispatcher dispatcher

<div>
    <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Counter</RadzenText>
    <RadzenNumeric Name="Password" @bind-Value="@Credential.OTPCounter" Class="w-100" Disabled=true></RadzenNumeric>
</div>

@code {
    [Parameter]
    public UserCredential Credential { get; set; }
}