@using Fluxor.Blazor.Web.Components;
@using SimpleIdServer.IdServer.Website.Stores.UserStore;
@inherits FluxorComponent
@inject IState<UserCredentialOfferState> credentialOfferState
@inject IDispatcher dispatcher

@if(credentialOfferState.Value.IsLoading)
{
    <h3>Loading...</h3>
}
else
{
    <!-- QR Code -->
    <div>
        <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">QR Code</RadzenText>
        <RadzenImage Path="@credentialOfferState.Value.Picture" Style="width: 200px" />
    </div>
    <!-- Url -->
    <div>
        <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">QR Code</RadzenText>
        <RadzenTextBox Value="@credentialOfferState.Value.Url" Class="w-100" />
    </div>
}

@code {
    [Parameter]
    public string CredentialOfferId { get; set; }

    protected override void OnParametersSet()
    {
        if(string.IsNullOrWhiteSpace(CredentialOfferId)) return;
        dispatcher.Dispatch(new GetCredentialOfferAction { CredentialOfferId = CredentialOfferId });
    }
}