@inherits LayoutComponentBase

<PageTitle>SimpleIdServer Administration UI</PageTitle>

<RadzenDialog />
<RadzenNotification />
<RadzenContextMenu />
<RadzenTooltip />

<RadzenLayout class="rz-shadow-3">
    <RadzenHeader>
        <div class="d-flex align-items-center">
            <RadzenSidebarToggle Click="@(() => sidebarExpanded = !sidebarExpanded)" />
            <RadzenImage Path="images/SIDLogo.svg" Style="width: 40px" />
            <RadzenText class="ml-1" Text="SimpleIdServer" TextStyle="TextStyle.DisplayH6" />
        </div>
    </RadzenHeader>
    <RadzenSidebar @bind-Expanded="@sidebarExpanded">
        <RadzenPanelMenu>
            <RadzenPanelMenuItem Text="Clients" Icon="apps" Path="/clients" />
            <RadzenPanelMenuItem Text="Scopes" Icon="visibility" Path="/scopes" />
            <RadzenPanelMenuItem Text="Users" Icon="person" Path="/users" />
        </RadzenPanelMenu>
        <div class="p-2">
            Sidebar
        </div>
    </RadzenSidebar>
    <RadzenBody>
        <div class="p-2">
            @Body
        </div>
    </RadzenBody>
    <RadzenFooter>
        Footer
    </RadzenFooter>
</RadzenLayout>

@code {
    bool sidebarExpanded = true;
}