@using SimpleIdServer.IdServer.Website.Resources;

<div>
    <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">@Global.Content</RadzenText>
    <RadzenTextArea Rows="20" @bind-Value="@Content" Class="w-100"></RadzenTextArea>
</div>

@code {
    [Parameter]
    public string Content { get; set; }
}