<div>
    <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Request</RadzenText>
    <RadzenTextArea Rows="20" @bind-Value="@AuditEvent.RequestJSON" Class="w-100"></RadzenTextArea>
</div>

@code {
    [Parameter]
    public AuditEvent AuditEvent { get; set; }
}