<p>Please save the following JSON Web Key into your configuration</p>

<!-- Json Web Key -->
<div>
    <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Json Web Key</RadzenText>
    <RadzenTextArea Rows=10 Name="Description" @bind-Value="@JsonWebKeyStr" Class="w-100"></RadzenTextArea>
</div>

@code {
    [Parameter]
    public string JsonWebKeyStr { get; set; }
}