.orange {
    --rz-white: #fff;
    --rz-black: #000;
    --rz-base-50: #f5f5f5;
    --rz-base-100: #f3f2f1;
    --rz-base-200: #edebe9;
    --rz-base-300: #d2d0ce;
    --rz-base-400: #a19f9d;
    --rz-base-500: #8a8886;
    --rz-base-600: #605e5c;
    --rz-base-700: #616161;
    --rz-base-800: #323130;
    --rz-base-900: #201f1e;
    --rz-primary: #ff8434ff;
    --rz-primary-light: #80bcea;
    --rz-primary-lighter: #deedf9;
    --rz-primary-dark: #006cbf;
    --rz-primary-darker: #005a9f;
    --rz-secondary: #8a8886;
    --rz-secondary-light: #c5c4c3;
    --rz-secondary-lighter: #f0f0ef;
    --rz-secondary-dark: #7c7a79;
    --rz-secondary-darker: #686665;
    --rz-info: #00b7c3;
    --rz-info-light: #80dbe1;
    --rz-info-lighter: #def6f7;
    --rz-info-dark: #00a5b0;
    --rz-info-darker: #008992;
    --rz-success: #107c10;
    --rz-success-light: #88be88;
    --rz-success-lighter: #e0eee0;
    --rz-success-dark: #0e700e;
    --rz-success-darker: #0c5d0c;
    --rz-warning: #ffc80a;
    --rz-warning-light: #ffe485;
    --rz-warning-lighter: #fff8df;
    --rz-warning-dark: #e6b409;
    --rz-warning-darker: #bf9608;
    --rz-danger: #a4262c;
    --rz-danger-light: #d29396;
    --rz-danger-lighter: #f3e3e4;
    --rz-danger-dark: #942228;
    --rz-danger-darker: #7b1d21;
    --rz-on-primary: #ffffff;
    --rz-on-primary-light: #ffffff;
    --rz-on-primary-lighter: #005a9f;
    --rz-on-primary-dark: #ffffff;
    --rz-on-primary-darker: #ffffff;
    --rz-on-secondary: #ffffff;
    --rz-on-secondary-light: #ffffff;
    --rz-on-secondary-lighter: #686665;
    --rz-on-secondary-dark: #ffffff;
    --rz-on-secondary-darker: #ffffff;
    --rz-on-info: #fff;
    --rz-on-info-light: #fff;
    --rz-on-info-lighter: #008992;
    --rz-on-info-dark: #fff;
    --rz-on-info-darker: #fff;
    --rz-on-success: #fff;
    --rz-on-success-light: #fff;
    --rz-on-success-lighter: #0c5d0c;
    --rz-on-success-dark: #fff;
    --rz-on-success-darker: #fff;
    --rz-on-warning: #201f1e;
    --rz-on-warning-light: #201f1e;
    --rz-on-warning-lighter: #bf9608;
    --rz-on-warning-dark: #201f1e;
    --rz-on-warning-darker: #fff;
    --rz-on-danger: #fff;
    --rz-on-danger-light: #fff;
    --rz-on-danger-lighter: #7b1d21;
    --rz-on-danger-dark: #fff;
    --rz-on-danger-darker: #fff;
    --rz-series-1: #0078d4;
    --rz-series-2: #b4a0ff;
    --rz-series-3: #d83b01;
    --rz-series-4: #ffb900;
    --rz-series-5: #fff100;
    --rz-series-6: #107c10;
    --rz-series-7: #32145a;
    --rz-series-8: #005a9e;
    --rz-series-9: #409adf;
    --rz-series-10: #c7b8ff;
    --rz-series-11: #e26c40;
    --rz-series-12: #ffca40;
    --rz-series-13: #fff870;
    --rz-series-14: #4c9d4c;
    --rz-series-15: #654f83;
    --rz-series-16: #4083b6;
    --rz-series-17: #80bcea;
    --rz-series-18: #dacfff;
    --rz-series-19: #ec9d80;
    --rz-series-20: #ffdc80;
    --rz-series-21: #fffa9f;
    --rz-series-22: #87be87;
    --rz-series-23: #9989ad;
    --rz-series-24: #80adce;
    --rz-header-background-color: var(--rz-primary);
    --rz-sidebar-toggle-background-color: var(--rz-header-background-color);
    --rz-link-color: var(--rz-primary);
    --rz-steps-number-selected-background: var(--rz-primary);
    --rz-panel-menu-item-active-indicator: var(--rz-primary);
    --rz-sidebar-toggle-hover-background-color: var(--rz-primary);
    --rz-checkbox-checked-background-color: var(--rz-primary);
    --rz-steps-title-selected-color: var(--rz-primary);
    --rz-checkbox-checked-hover-background-color: var(--rz-primary);
    --rz-checkbox-checked-hover-border: gray;
    --rz-checkbox-checked-border: gray;
    --rz-checkbox-checked-disabled-background-color: var(--rz-primary);
    --rz-checkbox-checked-disabled-border: gray;
}
