<!doctype html>
<html lang="en">
  <head>
    <base href="<%= baseUrl %>">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="text/html; charset=utf-8" http-equiv="content-type"/>
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <title>SimpleIdServer</title>
  </head>
  <body class="my-theme">
    <app-root></app-root>
  </body>
</html>
