@using FormBuilder.Components.Drag
@using FormBuilder.Helpers
@inject ITranslationHelper translationHelper

<DraggableFormElement IsEditModeEnabled=@IsEditModeEnabled ParentContext="@ParentContext" Context="@Context" TDialog="ParagraphDialog" TRecord="ParagraphRecord" Record="@Value">
    <Children>
        <p>
            @translationHelper.Translate(Value, (IsEditModeEnabled ? "Please provide a description" : string.Empty))
        </p>
    </Children>
</DraggableFormElement>