@model ProtectAPIFromUndesirableUsers.TraditionalWebsite.ViewModels.BankAccountViewModel

@{
    ViewData["Title"] = "Bank account";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Bank account</h1>
<p>@Model.Content</p>