@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model SimpleIdServer.Saml.Sp.Startup.ViewModels.HomeViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (User.Identity.IsAuthenticated)
{
    <ul class="list-group">
        @foreach (var claim in User.Claims)
        {
            <li class="list-group-item">@claim.Type : @claim.Value</li>
        }
    </ul>
}
else
{
    <ul class="list-inline">
        @foreach (var extProvider in Model.ExternalIdsProviders)
        {
            <li class="list-inline-item">
                <a class="btn btn-secondary"
                   asp-controller="ExternalAuthenticate"
                   asp-area=""
                   asp-action="Login"
                   asp-route-scheme="@extProvider.AuthenticationScheme">@extProvider.DisplayName</a>
            </li>
        }
    </ul>
}