@model UseUMAToProtectAPI.Portal.ViewModels.AddPictureViewModel

@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Add", "Pictures", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <h1>Add picture</h1>
    <div class="form-group">
        <label>Url</label>
        <input type="text" class="form-control" value="@Model.Url" name="Url" />
    </div>
    <div class="form-group">
        <label>Desription</label>
        <input type="text" class="form-control" value="@Model.Description" name="Description"/>
    </div>
    <button type="submit" class="btn btn-success">Add</button>
}