@using SimpleIdServer.IdServer.Website
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="_content/SimpleIdServer.IdServer.Website/css/themes.css" />
    <link rel="stylesheet" href="_content/SimpleIdServer.IdServer.Website/css/website.css" />
    <link rel="stylesheet" href="_content/SimpleIdServer.IdServer.Website/css/stateDig.css" />
    <link rel="stylesheet" href="_content/Z.Blazor.Diagrams/style.min.css" />
    <link rel="stylesheet" href="_content/Z.Blazor.Diagrams/default.styles.min.css" />
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="_content/SidFormBuilder/style.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="SimpleIdServer.IdServerAdmin.Empty.Startup.styles.css" />
    <script src="_content/SimpleIdServer.IdServer.Website/website.js"></script>
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet @rendermode="RenderMode.InteractiveServer" />
</head>

<body class="orange">
    <IdServerRouter />
    <script src="_framework/blazor.web.js"></script>
    <script src="_content/Radzen.Blazor/Radzen.Blazor.js"></script>
    <script src="_content/Z.Blazor.Diagrams/script.min.js"></script>
    <script src="_content/SidFormBuilder/lib.js"></script>
    <script src="_content/SidFormBuilder/reCaptcha.js"></script>
    <script src="_content/BlazorMonaco/jsInterop.js"></script>
    <script src="_content/BlazorMonaco/lib/monaco-editor/min/vs/loader.js"></script>
    <script src="_content/BlazorMonaco/lib/monaco-editor/min/vs/editor/editor.main.js"></script>
</body>

</html>
