<div fxLayout="row" class="breadcrumb">
    <div fxFlex="80%" fxFlexOffset="10%">
        <ul>
            <li>
                <div class="mat-h1"><a [routerLink]="['/clients/oauth']">{{ "OAUTH_CLIENTS" | translate }}</a></div>
            </li>
            <li class="separator">
                <div class="mat-h1">\</div>
            </li>
            <li>
                <div class="mat-h1">{{ "OAUTH_CLIENT" | translate }}</div>
            </li>
        </ul>
    </div>
</div>

<div fxLayout="row">
    <mat-card fxFlex="80%" fxFlexOffset="10%">
        <mat-card-content>
            <form [formGroup]="updateOAuthClientFormGroup">
                <mat-tab-group>
                    <mat-tab label="{{ 'DETAILS' | translate }}">
                        <div fxLayout="row" fxLayout.lt-sm="column">
                            <div fxFlex="50%" class="padding-td-5 padding-lr-5 relative">
                                <!-- Client identifier -->
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>{{ "CLIENT_ID" | translate }}</mat-label>
                                    <input matInput formControlName="clientId">
                                </mat-form-field>
                                <!-- Software identifier -->
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>{{ "SOFTWARE_ID" | translate }}</mat-label>
                                    <input matInput formControlName="softwareId">
                                </mat-form-field>
                                <!-- Software version -->
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>{{ "SOFTWARE_VERSION" | translate }}</mat-label>
                                    <input matInput formControlName="softwareVersion">
                                </mat-form-field>
                                <!-- Grant type -->
                                <mat-divider></mat-divider>
                                <div>
                                    <h4>{{ "GRANT_TYPE" | translate }}</h4>
                                    <selector [sourceValues]="oauthGrantTypes" [(targetValues)]="clientGrantTypes">
                                    </selector>
                                </div>
                                <mat-divider></mat-divider>
                                <div>
                                    <h4>{{ "RESPONSE_TYPE" | translate }}</h4>
                                    <selector [sourceValues]="oauthResponseTypes"
                                        [(targetValues)]="clientResponseTypes"></selector>
                                </div>
                            </div>
                            <div fxFlex="50%" class="padding-td-5 padding-lr-5">
                                <mat-accordion>
                                    <!-- Client names -->
                                    <mat-expansion-panel hideToggle>
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>
                                                {{ "CLIENT_NAME" | translate }}
                                            </mat-panel-title>
                                            <mat-panel-description>

                                            </mat-panel-description>
                                            <mat-icon matTooltip="{{ 'CLIENT_NAME_INFO' | translate }}">info</mat-icon>
                                        </mat-expansion-panel-header>
                                        <formtranslation [(translations)]="clientNames"></formtranslation>
                                    </mat-expansion-panel>
                                    <!-- Contacts -->
                                    <mat-expansion-panel hideToggle>
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>
                                                {{ "CONTACT" | translate }}
                                            </mat-panel-title>
                                            <mat-panel-description>

                                            </mat-panel-description>
                                            <mat-icon matTooltip="{{ 'CONTACT_INFO' | translate }}">info</mat-icon>
                                        </mat-expansion-panel-header>
                                        <formlist [(values)]="contacts"></formlist>
                                    </mat-expansion-panel>
                                </mat-accordion>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="{{ 'URLS' | translate }}">
                        <div class="padding-td-5 padding-lr-5">
                            <mat-accordion>
                                <!-- Redirect URI -->
                                <mat-expansion-panel hideToggle>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            {{ "REDIRECT_URI" | translate }}
                                        </mat-panel-title>
                                        <mat-panel-description>

                                        </mat-panel-description>
                                        <mat-icon matTooltip="{{ 'REDIRECT_URI_INFO' | translate }}">info</mat-icon>
                                    </mat-expansion-panel-header>
                                    <formlist [(values)]="redirectUris"></formlist>
                                </mat-expansion-panel>
                                <!-- Logo URI -->
                                <mat-expansion-panel hideToggle>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            {{ "LOGO_URI" | translate }}
                                        </mat-panel-title>
                                        <mat-panel-description>

                                        </mat-panel-description>
                                        <mat-icon matTooltip="{{ 'LOGO_URI_INFO' | translate }}">info</mat-icon>
                                    </mat-expansion-panel-header>
                                    <formtranslation [(translations)]="logoUris"></formtranslation>
                                </mat-expansion-panel>
                                <!-- Policy URI -->
                                <mat-expansion-panel hideToggle>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            {{ "POLICY_URI" | translate }}
                                        </mat-panel-title>
                                        <mat-panel-description>

                                        </mat-panel-description>
                                        <mat-icon matTooltip="{{ 'POLICY_URI_INFO' | translate }}">info</mat-icon>
                                    </mat-expansion-panel-header>
                                    <formtranslation [(translations)]="policyUris"></formtranslation>
                                </mat-expansion-panel>
                                <!-- TOS URI -->
                                <mat-expansion-panel hideToggle>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            {{ "TOS_URI" | translate }}
                                        </mat-panel-title>
                                        <mat-panel-description>

                                        </mat-panel-description>
                                        <mat-icon matTooltip="{{ 'TOS_URI_INFO' | translate }}">info</mat-icon>
                                    </mat-expansion-panel-header>
                                    <formtranslation [(translations)]="tosUris"></formtranslation>
                                </mat-expansion-panel>
                                <!-- Client URI -->
                                <mat-expansion-panel hideToggle>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            {{ "CLIENT_URI" | translate }}
                                        </mat-panel-title>
                                        <mat-panel-description>

                                        </mat-panel-description>
                                        <mat-icon matTooltip="{{ 'CLIENT_URI_INFO' | translate }}">info</mat-icon>
                                    </mat-expansion-panel-header>
                                    <formtranslation [(translations)]="clientUris"></formtranslation>
                                </mat-expansion-panel>
                            </mat-accordion>
                        </div>
                    </mat-tab>
                    <mat-tab label="{{ 'SCOPES' | translate }}">
                        <selector [sourceValues]="oauthScopes" [(targetValues)]="clientScopes"></selector>
                    </mat-tab>
                    <mat-tab label="{{ 'SECRETS' | translate }}">
                        <button mat-raised-button color="primary">
                            {{ "ADD_CLIENT_SECRET" | translate }}
                        </button>
                        <mat-list>
                            <mat-list-item *ngFor="let secret of clientSecrets; let index = index">
                                {{ secret.Type }}
                                <div class="spacer"></div>
                                <button mat-icon-button (click)="deleteClientSecret(index)">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </mat-list-item>
                        </mat-list>
                        <!-- TODO : SECRETS -->
                    </mat-tab>
                    <mat-tab label="{{ 'ADVANCED' | translate}}">
                        <div class="padding-td-5 padding-lr-5">
                            <mat-accordion>
                                <!-- Client preferences -->
                                <mat-expansion-panel hideToggle>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            {{ "CLIENT_PREFERENCE" | translate }}
                                        </mat-panel-title>
                                        <mat-panel-description>

                                        </mat-panel-description>
                                        <mat-icon matTooltip="{{ 'CLIENT_PREFERENCE_INFO' | translate }}">info
                                        </mat-icon>
                                    </mat-expansion-panel-header>
                                    <!-- Preferred token profile -->
                                    <mat-form-field appearance="outline">
                                        <mat-label>{{ "PREFERRED_TOKEN_PROFILE" | translate }}</mat-label>
                                        <mat-select formControlName="preferredTokenProfile">
                                            <mat-option *ngFor="let profile of oauthTokenProfiles" [value]="profile">
                                                {{profile}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <!-- Token auth method -->
                                    <mat-form-field class="full-width" appearance="outline">
                                        <mat-label>{{ "TOKEN_AUTH_METHOD" | translate }}</mat-label>
                                        <mat-select formControlName="tokenEndPointAuthMethod">
                                            <mat-option *ngFor="let authMethod of oauthAuthMethods"
                                                [value]="authMethod">
                                                {{authMethod}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </mat-expansion-panel>
                                <!-- Access token generation alg. -->
                                <mat-expansion-panel hideToggle>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            {{ "ACCESS_TOKEN_GENERATION" | translate }}
                                        </mat-panel-title>
                                        <mat-panel-description>

                                        </mat-panel-description>
                                        <mat-icon matTooltip="{{ 'ACCESS_TOKEN_GENERATION_INFO' | translate }}">info
                                        </mat-icon>
                                    </mat-expansion-panel-header>
                                    <!-- Token signed response alg -->
                                    <mat-form-field class="full-width" appearance="outline">
                                        <mat-label>{{ "TOKEN_SIGNED_RESPONSE_ALG" | translate }}</mat-label>
                                        <mat-select formControlName="tokenSignedResponseAlg">
                                            <mat-option *ngFor="let alg of oauthTokenSignedResponseAlgs" [value]="alg">
                                                {{alg}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <!-- Token encrypted response alg -->
                                    <mat-form-field class="full-width" appearance="outline">
                                        <mat-label>{{ "TOKEN_ENCRYPTED_RESPONSE_ALG" | translate }}</mat-label>
                                        <mat-select formControlName="tokenEncryptedResponseAlg">
                                            <mat-option *ngFor="let alg of oauthTokenEncryptedResponseAlgs"
                                                [value]="alg">
                                                {{alg}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <!-- Token encrypted response enc -->
                                    <mat-form-field class="full-width" appearance="outline">
                                        <mat-label>{{ "TOKEN_ENCRYPTED_RESPONSE_ENC" | translate }}</mat-label>
                                        <mat-select formControlName="tokenEncryptedResponseEnc">
                                            <mat-option *ngFor="let alg of oauthTokenEncryptedResponseEncs"
                                                [value]="alg">
                                                {{alg}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </mat-expansion-panel>
                                <!-- Expiration time -->
                                <mat-expansion-panel hideToggle>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            {{ "EXPIRATION_TIME" | translate }}
                                        </mat-panel-title>
                                        <mat-panel-description>

                                        </mat-panel-description>
                                        <mat-icon matTooltip="{{ 'EXPIRATION_TIME_INFO' | translate }}">info</mat-icon>
                                    </mat-expansion-panel-header>
                                    <!-- Token expiration time in seconds -->
                                    <mat-form-field class="full-width" appearance="outline">
                                        <mat-label>{{ "TOKEN_EXPIRATION_TIME_SECONDS" | translate }}</mat-label>
                                        <input matInput formControlName="tokenExpirationTimeInSeconds">
                                    </mat-form-field>
                                    <!-- Refresh token expiration time in seconds -->
                                    <mat-form-field class="full-width" appearance="outline">
                                        <mat-label>{{ "REFRESH_TOKEN_EXPIRATION_TIME_SECONDS" | translate }}</mat-label>
                                        <input matInput formControlName="refreshTokenExpirationTimeInSeconds">
                                    </mat-form-field>
                                </mat-expansion-panel>
                            </mat-accordion>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </form>
        </mat-card-content>
    </mat-card>
</div>