@using FormBuilder.Components.Drag
@using FormBuilder.Helpers
@inject ITranslationHelper translationHelper


 <DraggableFormElement IsEditModeEnabled=@IsEditModeEnabled ParentContext="@ParentContext" Context="@Context">
     <Children>
        <div>
            <RadzenCheckBox @bind-Value="@Value.Value"></RadzenCheckBox>
            <RadzenLabel>@translationHelper.Translate(Value)</RadzenLabel>
        </div>
     </Children>
</DraggableFormElement>