@using System.Text.Json
@using FormBuilder.Models.Url
@using FormBuilder.Components.Shared
@inject DialogService dialogService

<RadzenStack>
   <!-- Act as a form -->
   <div>
       <RadzenCheckBox @bind-Value="CopyRecord.IsFormEnabled" />
       <RadzenLabel>Act as a form ?</RadzenLabel>
   </div>
    <RadzenButton Text="Save" Click="@HandleSave"></RadzenButton>
</RadzenStack>

@code {
    [Parameter] public FormStackLayoutRecord Record { get; set; }
    FormStackLayoutRecord CopyRecord { get; set; } = new FormStackLayoutRecord();

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        if (Record != null)
        {
            CopyRecord = JsonSerializer.Deserialize<FormStackLayoutRecord>(JsonSerializer.Serialize(Record));
        }
    }

    private void HandleSave()
    {
        Record.IsFormEnabled = CopyRecord.IsFormEnabled;
        Record.Labels = CopyRecord.Labels;
        dialogService.Close();
    }
}
